<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>adminSignup.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>CustomerListServlet</servlet-name>
        <servlet-class>com.demo.servlethotel.controllers.CustomerListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/customer/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>com.demo.servlethotel.controllers.CustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customer/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>com.demo.servlethotel.controllers.AdminSignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/admin/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.demo.servlethotel.controllers.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.demo.servlethotel.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerUpdateServlet</servlet-name>
        <servlet-class>com.demo.servlethotel.controllers.CustomerUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerUpdateServlet</servlet-name>
        <url-pattern>/customer/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>com.demo.servlethotel.controllers.CustomerDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/customer/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.demo.servlethotel.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/customer/logout</url-pattern>
    </servlet-mapping>



</web-app>
